.ListItem-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.ListItem-item {
  padding: 16px;
  word-break: break-all;
}

.ListItem-item:nth-child(2) {
  width: 23%;
}
.ListItem-item:nth-child(3) {
  width: 30%;
}
.ListItem-item:nth-child(4) {
  width: 17%;
}
.ListItem-item:nth-child(5) {
  width: 15%;
}
.ListItem-item:nth-child(6) {
  width: 15%;
}

.ListItem-icon-group {
  display: flex;
  justify-content: end;
  align-items: center;
}

.fa-user-pen {
  margin-right: 10px;
  color: #757575;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}

.fa-minus {
  color: #fd4e4e;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}

.fa-check {
  margin-right: 10px;
  color: hsl(120, 100%, 66%);
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}

.fa-user-pen:hover,
.fa-check:hover,
.fa-minus:hover {
  opacity: 1;
}
