.ListItem-item {
  padding: 10px 15px;
}

.ListItem-icon-group {
  display: flex;
  justify-content: end;
  align-items: center;
}

.fa-user-pen {
  margin-right: 10px;
  color: #757575;
  cursor: pointer;
  opacity: .5;
  transition: .2s ease-in-out
}

.fa-minus {
  color: #fd4e4e;
  cursor: pointer;
  opacity: .5;
  transition: .2s ease-in-out
}

.fa-user-pen:hover, .fa-minus:hover {
  opacity: 1;
}
