.ListItem-row {
  display: flex;
  align-items: center;
  color: var(--color-5);
  margin-bottom: 10px;
  margin: 15px 100px;

  border-radius: 15px;
}

.ListItem-row:last-child {
  margin-bottom: 0;
}

.ListItem-card {
  width: 23%;
  margin-bottom: 15px;

  border-radius: 15px;
  color: var(--color-5);
  background-color: var(--color-8);
}

.itemRowInlineStyle {
  background-color: var(--color-8);
  color: var(--color-7);
}

.checkbox input {
  display: none;
}

.checkbox span {
  height: 5px;
  width: 5px;
  border: 1px solid var(--color-5);
  display: inline-block;
  position: relative;
  background-color: transparent;
  border-radius: 3px;
  padding: 3px;

  cursor: pointer;
}

[type="checkbox"]:checked + span:before {
  content: " ";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 0;

  background-color: var(--color-5);
  border-radius: 3px;
  font-size: 22px;
  color: var(--color-6);
}

.ListItem-item {
  padding: 16px;
  word-break: break-all;
}

.ListItem-item:nth-child(2) {
  width: 23%;
}
.ListItem-item:nth-child(3) {
  width: 30%;
}
.ListItem-item:nth-child(4) {
  width: 17%;
}
.ListItem-item:nth-child(5) {
  width: 15%;
}
.ListItem-item:nth-child(6) {
  width: 15%;
}

.ListItem-card-item {
  padding: 16px;
  word-break: break-all;
}

.ListItem-icon-group {
  display: flex;
  justify-content: end;
  align-items: center;
}

.fa-user-pen {
  margin-right: 10px;
  color: var(--color-9);

  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.fa-minus {
  color: var(--color-13);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.fa-user-pen:hover {
  color: var(--color-7);
}

.fa-minus:hover {
  color: var(--color-10);
}
