.ListBtnSection {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-3);
}

.ListBtnSection-cardView-btn-group {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ListBtnSection-group {
  display: flex;
}

.ListBtnSection-add-button,
.ListBtnSection-delete-checked-button,
.ListBtnSection-delete-checked-button-disable {
  height: 100%;
  padding: .5em 1.5em;
  font-size: 1em;
  color: var(--color-7);

  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.ListBtnSection-add-button:hover,
.ListBtnSection-delete-checked-button:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15),
    0 100px 80px rgba(255, 255, 255, 0.02),
    0 42px 33px rgba(255, 255, 255, 0.024),
    0 22px 18px rgba(255, 255, 255, 0.028),
    0 12px 10px rgba(255, 255, 255, 0.034), 0 7px 5px rgba(255, 255, 255, 0.04),
    0 3px 2px rgba(255, 255, 255, 0.07);
  background-color: var(--color-12);
}

.ListBtnSection-add-button {
  background-color: var(--color-15);
}

.ListBtnSection-delete-checked-button {
  background-color: var(--color-13);
}

.ListBtnSection-checkAll {
  padding: 0 1em;
}

.ListBtnSection-delete-checked-button-disable {
  cursor: default;
  background-color: var(--color-9);
}

.ListBtnSection-delete-checked-button:hover {
  background-color: var(--color-10);
}
.ListBtnSection-add-button:hover {
  background-color: var(--color-12);
}
