.ListCaption {
  margin-bottom: 15px;
}

.ListBtnSection-container {
  margin-bottom: 15px;
}

.ListItem-cardView {
  margin-bottom: 5%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.InlineAdd {
  margin-bottom: 15px;
  margin-left: 0;
}

.InlineAdd > .inlineContact > * {
  margin-right: 10px;
}

.InlineAdd > .inlineContact > :last-child {
  margin-right: 0;
}

.InlineEditItem > .inlineContact > * {
  padding: 6px 10px;
  margin: 10px 10px 10px 0;
}

.InlineEditItem > .inlineContact > :first-child {
  margin-left: 20px;
}

.row-item {
  word-break: break-all;
  font-size: 14px;
}

.row-item-2 {
    width: 23%;
}
.row-item-3 {
    width: 30%;
}
.row-item-4 {
    width: 17%;
}
.row-item-5 {
    width: 15%;
}
.row-item-6 {
    width: 15%;
}