.ListCaption {
  margin-bottom: 1em;
}

.ListBtnSection-container {
  margin-bottom: 1em;
}

.ListItem-cardView {
  margin-bottom: 5%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.InlineAdd {
  margin-bottom: 1em;
  margin-left: 0;
}

.InlineAdd > .inlineContact > * {
  margin-right: .8em;
}

.InlineAdd > .inlineContact > :last-child {
  margin-right: 0;
}

.InlineEditItem > .inlineContact > * {
  padding: .6em .8em;
  margin: .8em .8em .8em 0;
}

.InlineEditItem > .inlineContact > :first-child {
  margin-left: 1.5em;
}

.row-item {
  word-break: break-all;
}

.row-item-2 {
    width: 23%;
}
.row-item-3 {
    width: 30%;
}
.row-item-4 {
    width: 17%;
}
.row-item-5 {
    width: 15%;
}
.row-item-6 {
    justify-content: flex-end;
    width: 15%;
}