@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("../nulled.css");

:root {
  --color-1: #050d21;
  --color-2: #281845;
  --color-3: #272767;
  --color-4: #7ee787;
  --color-5: #a0d0f9;
  --color-6: #d0a2fd;
  --color-7: #fff;
  --color-8: #8b949e;
  --color-9: #ccc;
  --color-10: #fd6593;
  --color-11: #000;
  --color-12: #6e40c9;
  --color-13: #fa87aa;
  --color-14: #ffa2be;
  --color-15: #825bcf;
}

::selection {
  color: var(--color-4);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-4);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-4);
}

body {
  box-sizing: border-box;
  background-color: var(--color-1);

  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar {
  position: absolute;
  left: 0;
  top: 54px;
}

.Content {
  margin: 0 auto;
  width: 80%;
}
