@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("../nulled.css");

body {
  margin: 0;

  background-color: #050d21;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



::selection {
  color: rgb(126, 231, 135);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(126, 231, 135);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(126, 231, 135);
}





