.ListItem-row {
  display: flex;
  align-items: center;

  margin-bottom: .5em;

  color: var(--color-5);
}

.ListItem-card {
  width: 15em;
  height: 28em;
  margin: 1em;
  padding: 1em;

  position: relative;
  display: flex;
  flex-direction: column;

  color: var(--color-5);

  border-radius: 2em;
  box-shadow: inset -0.6em -0.6em 1em #00000099,
  inset 0.4em 0.4em 0.5em #00000029,
  0.8em 0.8em 2em #000000
}

.itemRowInlineStyle {
  background-color: var(--color-8);
  color: var(--color-7);
}

.ListItem-item {
  display: flex;
  align-items: center;
  height: 4em;
  padding: 0 1.5em;
}

.ListItem-card-item {
  padding: 1.2em;
  word-break: break-all;
}

.ListItem-card-item:nth-child(1) {
  padding-bottom: 2.2em;
  position: absolute;
  bottom: 0;
  order: 5;
}

.ListItem-card-item:nth-child(2) {
  color: var(--color-14);
  order: 1;
}

.ListItem-card-item:nth-child(3) {
  order: 3;
}

.ListItem-card-item:nth-child(4) {
  order: 2;
}

.ListItem-card-item:nth-child(5) {
  order: 4;
}

.ListItem-card-item:nth-child(6) {
  padding-right: 2.2em;
  padding-bottom: 2.2em;
  position: absolute;
  bottom: 0;
  right: 0;
  order: 6;
}

.ListItem-carView-subtitle {
  color: var(--color-9);
}

.ListItem-icon-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fa-user-pen {
  margin-right: .8em;
  color: var(--color-9);

  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.fa-minus {
  color: var(--color-13);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.fa-user-pen:hover {
  color: var(--color-7);
}

.fa-minus:hover {
  color: var(--color-10);
}

.ListItem-edit {
  width: 100%;
  margin-right: .3em;
  padding: .5em 1em;

  background-color: var(--color-5);
  color: var(--color-1);
}

@media (max-width: 767px) {
  .ListItem-item:nth-child(3),
  .ListItem-item:nth-child(4),
  .ListItem-item:nth-child(5) {
    display: none;
  }

  .ListItem-item:nth-child(6) {
    margin-left: auto;
  }

  .ListItem-card {
    width: 25em;
  }
}

