.ListItem-row {
  display: flex;
  align-items: center;

  margin-bottom: .5em;

  color: var(--color-5);
}

.ListItem-card {
  margin-top: 4%;

  position: relative;
  display: flex;
  flex-direction: column;

  color: var(--color-5);

  box-shadow: .8em 1em rgb(0 0 0), 0 0 0 rgb(255 255 255 / 1%),
    0 0 0 rgb(255 255 255 / 3%), 0 0 0 rgb(255 255 255 / 2%),
    0 0 0 rgb(255 255 255 / 3%), 0 0 0 rgb(255 255 255 / 2%),
    0 0 0 transparent;
}

.itemRowInlineStyle {
  background-color: var(--color-8);
  color: var(--color-7);
}

.ListItem-item {
  display: flex;
  align-items: center;
  height: 4em;
  padding: 0 1.5em;
}

.ListItem-card-item {
  padding: 1.2em;
  word-break: break-all;
}

.ListItem-card-item:nth-child(1) {
  position: absolute;
  bottom: .1em;
  width: 1.2em;
  padding-right: 0;
  order: 5;
}
.ListItem-card-item:nth-child(2) {
  font-size: 1em;
  color: var(--color-14);
  order: 1;
}
.ListItem-card-item:nth-child(3) {
  order: 3;
}
.ListItem-card-item:nth-child(4) {
  order: 2;
}
.ListItem-card-item:nth-child(5) {
  order: 4;
}
.ListItem-card-item:nth-child(6) {
  padding-left: 0;
  order: 6;
}

.ListItem-carView-subtitle {
  color: var(--color-9);
}

.ListItem-icon-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fa-user-pen {
  margin-right: .8em;
  color: var(--color-9);

  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.fa-minus {
  color: var(--color-13);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.fa-user-pen:hover {
  color: var(--color-7);
}

.fa-minus:hover {
  color: var(--color-10);
}

.ListItem-edit {
  width: 100%;
  margin-right: .3em;
  padding: .5em 1em;

  background-color: var(--color-5);
  color: var(--color-1);
}