.search-box {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-5);
}

.search-box > input {
  width: 40%;
  border: none;
  outline: none;
  padding: 0 1em;
  background: none;
  transition: 0.5s ease;
  color: var(--color-1);
}

.select {
  position: absolute;
  right: 0;
  background: none;
  border: none;
}

.select:focus {
  outline: none;
}

.selectOption {
  cursor: pointer;
  background-color: var(--color-5);
}

.selectOption:hover {
  color: red;
  background-color: red;
}

@media (max-width: 767px) {
  .search-box {
    width: 10em;
  }
}