.ListHeader {
  cursor: default;
}

.ListHeader-row {
  margin-bottom: 1em;

  height: 3em;
  display: flex;
  align-items: center;

  background-color: var(--color-2);
}

.ListHeader-item {
  padding: 0 1.5em;
  color: var(--color-6);
}

@media (max-width: 767px) {
  .ListHeader {
    display: none;
  }
}

