.ListHeader {
  cursor: default;
}

.ListHeader-row {
  margin-bottom: 15px;

  height: 40px;
  display: flex;
  align-items: center;

  background-color: var(--color-2);
  border-radius: 15px;
}

.ListHeader-item {
  padding: 0 20px;
  color: var(--color-6);
}