.Navbar {
  position: relative;
  z-index: 1;
}

.Navbar-link {
  margin-bottom: -0.2em;
  background: var(--color-15);
  text-align: center;
  height: 2.6em;
  width: 4em;
  line-height: 2.5em;
  position: relative;
  display: block;
  text-decoration: none;
  transition: all 0.25s linear;
}

.Navbar-link:hover {
  transform: translate(0.9em, -0.9em);
  background: var(--color-12);
  transition: all 0.25s linear;
  cursor: pointer;
}

.Navbar-link:hover > * {
  color: var(--color-7);
}

.Navbar-link:hover:before,
.Navbar-link:hover:after {
  transition: all 0.25s linear;
}

.Navbar-link:hover:before {
  width: 1em;
  top: 0.5em;
  left: -1em;
}

.Navbar-link:hover:after {
  width: 1em;
  bottom: -2.5em;
  left: 1em;
  height: 4.1em;
}

.Navbar-link:before,
.Navbar-link:after {
  content: "";
  position: absolute;
  transition: all 0.25s linear;
  width: 0.5em;
}

.Navbar-link:after {
  height: 4em;
  background: var(--color-4);
  bottom: -2.2em;
  left: 1.5em;
  transform: rotate(90deg) skew(0, 45deg);
}

.Navbar-link:before {
  height: 2.5em;
  background: white;
  top: 0.25em;
  left: -0.5em;
  transform: skewY(-45deg);
}

.fa-house,
.fa-exclamation,
.fa-gear {
  color: var(--color-1);
  transition: 0.2s ease-in-out;
}

.fa-bars, .fa-xmark {
  transition: all 0.25s linear;
  font-size: 1em;
}

@media (max-width: 767px) {
  .Navbar-link {
    color: white;
    background: none;
  }
  .Navbar-link:before,
  .Navbar-link:after,
  .Navbar-link:hover:after,
  .Navbar-link:hover:before {
    display: none;
  }
  .Navbar-link:hover {
    transition: none;
    transform: none;
    background: none;
  }
  .Navbar-link:first-child {
    padding-top: 2em;
  }
  .Navbar-link:last-child {
    padding-bottom: 2em;
  }
  .Navbar-link-small {
    background: var(--color-3);
  }
  .Navbar-link-small:hover {
    background: var(--color-3);
  }
}