p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
input,
body {
  margin: 0;
  padding: 0;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

a:-webkit-any-link:hover {
  text-decoration: underline;
}


input,
button {
  border: none;
}

li {
  list-style-type: none;
}

input:focus {
  outline: none;
}
