.ListCaption {
    margin-bottom: 15px;
}

.ListBtnSection-container {
    margin-bottom: 15px;
}

.ListItem-cardView {
    margin-bottom: 5%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}