.List-container {
  width: 100%;
  border-collapse: collapse;
}

/*sweet alert*/
.btnCopy:hover,
.btnPaste:hover,
.btnCut:hover {
  background-color: #e8e8e8;
}

.swal-overlay,
.swal-modal {
  background-color: transparent;
}

.swal-overlay:before {
  height: 0;
}

.swal-title {
  font-size: 20px;
}

.swal-title:first-child {
  margin-top: 95px;
}
/*sweet alert end*/
